body {
min-width: 850px;
min-height: 530px;
}
.whole_container {
position:absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgb(230,230,230);
overflow: none;
}
.Top_bar {
position: absolute;
top: 0px;
left: 0px;
width: 100%;
padding-left: 0px;
height: 44px;
font-family: arial;
font-size: 15px;
line-height: 21px;
padding-top: -1px;
min-width: 850px;
z-index: 3;
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top,  #cecece 0%, #707070 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#707070)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cecece 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cecece 0%,#707070 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cecece 0%,#707070 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cecece 0%,#707070 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#707070',GradientType=0 ); /* IE6-9 */
box-shadow: 0 0 8px black;
}
.add_customer{
position: absolute;
top: 0px;
width: 44px;
height: 44px;
background: transparent;
font-family: arial;
color: rgb(255, 255, 255);
text-align: center;
text-decoration: none;
font-size: 50px;
line-height: 21px;
border-width: 0px;
z-index: 3;
text-shadow: 0 0 3px black;
}
.add_customer:hover{
cursor: pointer;
color: black;
z-index: 3;
text-decoration: none;
text-shadow: 0 0 3px white;
}
.add_customer:focus{
outline: 0px;
}
.search_input {
position: relative;
float: left;
top: 6px;
left: 30px;
width: 92%;
height: 31px;
margin-left: 14px;
background: #a0a0a0; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a0a0 0%, #dcdcdc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#dcdcdc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a0a0 0%,#dcdcdc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a0a0 0%,#dcdcdc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#dcdcdc',GradientType=0 ); /* IE6-9 */
font-family: arial;
color: black;
text-align: left;
padding-left: 23px;
font-size: 17px;
line-height: 20px;
border-width: 0px;
border-radius: 20px;
box-shadow: inset 0 0 7px rgb(50,50,50);
}
.search_input:focus{
background: rgb(239, 239, 239);
outline: 0px;
}
.left_container {
position: absolute;
top: 0px;
left: 0px;
width: 20px;
height: 100%;
background: black;
z-index: 2;	
box-shadow: 0 0 10px black;
}
.left_bar {
position: absolute;
top: 50%;
left: 0px;
width: 20px;
background: black;
z-index: 1;
vertical-align: middle;
transform: translateY(-50%);
padding-top: 44px;
z-index: 2;
}
.navigation_letter {
font-family: arial;
color: rgb(166, 166, 166);
text-align: center;
font-size: 15px;
line-height: 18px;	
}
.navigation_letter:hover {
color: white;	
background: rgb(51,176,240);
cursor: pointer;
}
.list_container {
position: absolute;
top: 0px;
left: 0px;
width: 230px;
height: 100%;
background: rgb(85, 85, 85);
line-height: 20px;
padding-top: 44px;
z-index: 1;	
box-shadow: 0 0 10px black;
}
.list_customers {
height: 58px;
width: 230px;
float: left;
padding-left: 36px;
padding-top: 10px;
margin-bottom: 0px;
border-width: 2px;
box-shadow: 1px -5px 13px -4px rgb(0, 0, 0);
}
.list_customers:hover {
background: #33b0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #33b0f0 0%, #555555 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33b0f0), color-stop(100%,#555555)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* IE10+ */
background: linear-gradient(to bottom,  #33b0f0 0%,#555555 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b0f0', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
cursor: pointer;
}
.list_selected {
background: #33b0f0; /* Old browsers */
background: -moz-linear-gradient(top,  #33b0f0 0%, #555555 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#33b0f0), color-stop(100%,#555555)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #33b0f0 0%,#555555 100%); /* IE10+ */
background: linear-gradient(to bottom,  #33b0f0 0%,#555555 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33b0f0', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
}
.list_customers_name {
text-align: left;
font-family: arial;
font-size: 18px;
color: white;
}
.list_customers_company {
text-align: left;
padding-left: 5px;
font-family: arial;
font-size: 14px;
color: rgb(164, 164, 164);
margin-left: 0px;
}
.detail_page_title {
font-family: arial;
font-size: 24px;
font-weight: bold;
padding-left: 67px;
margin-bottom: 10px;
margin-top: -25px;
color: rgb(51,176,240);
}
.detail_container {
position: absolute;
top: 35px;
bottom: 0px;
right: 0px;
padding-top: 40px;
padding-left: 50px;
padding-bottom: 20px;
padding-right: 50px;
left: 230px;
background: transparent;
overflow-y: scroll;
z-index: 0;
margin-right: 92px;
}
.detail_container_2 {
position: absolute;
top: 44px;
bottom: 0px;
right: 0px;
padding-top: 40px;
padding-left: 30px;
padding-bottom: 20px;
padding-right: 50px;
left: 230px;
background: transparent;
overflow-y: scroll;
z-index: 0;
margin-right: 92px;
}
.detail_name {
font-family: arial;
font-size: 30px;
font-weight: bold;
padding-bottom: 5px;
}
.detail_company_name {
font-family: arial;
font-size: 18px;
line-height: 20px;
padding-bottom: 24px;
color:rgb(120,120,120);	
font-weight: bold;
}
.details {
font-family: arial;
font-size: 16px;
line-height: 24px;
padding-bottom: 8px;
padding-left: 14px;
color: rgb(0, 0, 0);
font-weight: bold;
}
.edit_customer{
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
margin-bottom: 35px;
margin-left: 50px;
margin-right: 50px;
background-color: rgb(51,176,240);
height: 26px;
border-radius: 22px;
box-shadow: 0 0 10px black;
font-family: arial;
font-size: 17px;
font-weight: bold;
color: white;
text-align: center;
line-height: 26px;
}
.edit_customer:hover {
background-color:rgb(245, 130, 33);
cursor:pointer;
}
::-webkit-input-placeholder {
   color: rgb(80,80,80);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgb(80,80,80);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(80,80,80);
}

:-ms-input-placeholder {  
   color: rgb(80,80,80);
}
.item_name_container {
float: left;
width: 110px;
font-family: arial;
font-size: 17px;
font-weight: bold;
line-height: 37px;
text-align: right;
padding-right: 6px;
color: rgb(108, 108, 108);
}
.item_input_container {
float: left;
left: 150px;
padding-right: 40px;
position: absolute;
}
.item_input {
width: 98%;
position: relative;
left: 0px;
padding-left: 10px;
right: 9px;
border-radius: 6px;
border-style: none;
background: rgb(158, 158, 158);
color: rgb(244, 244, 244);
font-size: 17px;
line-height: 31px;
margin-bottom: 4px;
}
.item_input:focus{
background: rgb(51,176,240);
text-decoration: none;
outline: 0px;
box-shadow: 0 0 7px black;
}
.item_collapsible_symbol {
padding-top: 0px;
margin-top: 17px;
width: 20px;
height: 20px;
margin-right: 1px;
margin-bottom: 4px;
float: right;
clear: both;
text-align: center;
background: rgb(51,176,240);
border-radius: 10px;
line-height: 17px;
font-size: 24px;
color: white;
font-family: monospace;
box-shadow: 0 0 5px black;
}
.item_collapsible_symbol:hover {
cursor: pointer;
background: rgb(245, 130, 33); 	
}
.item_collapsible_name {
width: 300px;
position: relative;
left: -11px;
padding-left: 10px;
right: 9px;
border-radius: 6px;
border-style: none;
background: transparent;
color: rgb(80,80,80);
line-height: 23px;
margin-top: 17px;
margin-bottom: 2px;
font-family: arial;
font-size: 18px;
font-weight: bold;
}
.item_delete {
position: relative;
bottom: -36px;
left: 0px;
right: 0px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 81%;
background-color: rgb(0, 0, 0);
height: 26px;
border-radius: 22px;
box-shadow: 0 0 10px black;
font-family: arial;
font-size: 17px;
font-weight: bold;
color: rgb(216, 0, 0);
text-align: center;
line-height: 27px;
}
.item_delete:hover {
background-color: rgb(216, 0, 0);
color: white;
cursor: pointer;
}
.item_save {
position: absolute;
bottom: -36px;
left: 0px;
right: 0px;
margin-bottom: 30px;
margin-left: 24%;
margin-right: 50px;
background-color: rgb(51,176,240);
height: 26px;
border-radius: 22px;
box-shadow: 0 0 10px black;
font-family: arial;
font-size: 17px;
font-weight: bold;
color: white;
text-align: center;
line-height: 27px;
}
.item_save:hover {
background-color: rgb(245, 130, 33);
cursor:pointer;
}
.new_customer_save {
position: relative;
bottom: -36px;
left: 0px;
right: 0px;
margin-bottom: 30px;
margin-left: 0px;
margin-right: 10px;
background-color: rgb(51,176,240);
height: 26px;
border-radius: 22px;
box-shadow: 0 0 10px black;
font-family: arial;
font-size: 17px;
font-weight: bold;
color: white;
text-align: center;
line-height: 26px;    
}
.new_customer_save:hover {
background-color: rgb(245, 130, 33);
cursor:pointer;
}
.hyperlink_container {
position: absolute;
float: right;
top: 0px;
right: 0px;
width: 92px;
height: 100%;
z-index: 2;
background-color: rgb(85, 85, 85);
box-shadow: 0 0 10px black;
}
.APP_hyperlink {
bottom: 6px;
right: 0px;
color: rgb(51, 176, 240);
margin-bottom: 0px;
position: absolute;
font-size: 13px;
width: 92px;
text-align: center;
font-weight: bold;

}
.APP_hyperlink:hover {
color: rgb(240,240,240);
cursor: pointer;
}
.APP_hyperlink_onelink {
position: relative;
top: 45px;
left: 0px;
margin-left: 0;
margin-right: 0;
min-height: 76px;
width: 55px;
background-color: transparent;
margin-top: 5px;
}
.APP_hyperlink_app_edge {
position: absolute;
float: right;
right: 0px;
margin-top: 6px;
margin-right: -18px;
width: 50px;
height: 52px;
background: rgb(0, 0, 0);
border-radius: 12px;
box-shadow: 0 2px 7px white;
}
.APP_hyperlink_app_image {
position: absolute;
width: 48px;
float: right;
right: -17px;
height: 48px;
background: rgb(75, 75, 75);
border-radius: 11px;
margin-top: 6px;
margin-left: 42px;
box-shadow: 0 1px 6px white;
font-family: arial;
font-size: 67px;
line-height: 50px;
text-align: center;
color: rgb(207, 207, 207);
}
.APP_hyperlink_app_image:hover {
box-shadow: 0 0 15px rgb(51,176,240);
background: rgb(51,176,240);
cursor: pointer;
color: white;
}
.APP_hyperlink_app_name {
position: absolute;
margin-top: 62px;
padding-left: 5px;
font-family: arial;
color: rgb(188, 188, 188);
font-size: 13px;
width: 91px;
text-align: center;
background: transparent;
font-weight: bold;
}
.APP_hyperlink_app_name:hover {
cursor: pointer;
}
.fadeIn {
        /* CSS needed for animation
        ---------------------------------------------------- */
        opacity:0;
        -webkit-animation:fadeIn ease-in 1;
        -moz-animation:fadeIn ease-in 1;
        -o-animation:fadeIn ease-in 1;
        animation:fadeIn ease-in 1;
        -webkit-animation-fill-mode:forwards;
        -moz-animation-fill-mode:forwards;
        -o-animation-fill-mode:forwards;
        animation-fill-mode:forwards;
}
/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-20ms {
        -webkit-animation-duration:0.2s;
        -moz-animation-duration:0.2s;
        -o-animation-duration:0.2s;
        animation-duration:0.2s;
}
.fadeIn-50ms {
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
        -o-animation-duration:0.5s;
        animation-duration:0.5s;
}
.fadeIn-100ms {
        -webkit-animation-duration:1s;
        -moz-animation-duration:1s;
        -o-animation-duration:1s;
        animation-duration:1s;
}
.fadeIn-150ms {
        -webkit-animation-duration:1.5s;
        -moz-animation-duration:1.5s;
        -o-animation-duration:1.5s;
        animation-duration:1.5s;
}
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-20ms {
        -webkit-animation-delay:0.2s;
        -moz-animation-delay:0.2s;
        -o-animation-delay:0.2s;
        animation-delay:0.2s;
}
.fadeIn-Delay-50ms {
        -webkit-animation-delay:0.5s;
        -moz-animation-delay:0.5s;
        -o-animation-delay:0.5s;
        animation-delay:0.5s;
}
.fadeIn-Delay-100ms {
        -webkit-animation-delay:1s;
        -moz-animation-delay:1s;
        -o-animation-delay:1s;
        animation-delay:1s;
}
.fadeIn-Delay-150ms {
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
        -o-animation-delay:1.5s;
        animation-delay:1.5s;
}
.fadeIn-Delay-200ms {
        -webkit-animation-delay:2s;
        -moz-animation-delay:2s;
        -o-animation-delay:2s;
        animation-delay:2s;
}
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }