<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="customerApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="quoteApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Customer App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/customer.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-controller="CustomerListCtrl">
<div class="whole_container">

  <div class="Top_bar">
    <button class="add_customer" id="addCustomer" ng-click="clearInfo(customer)">+</button>
    <input class="search_input" placeholder="Search"></input>
  </div>

<!--   <div class="left_container" hidden>
    <div class="left_bar">
      <div class="navigation_letter">AB</div>
      <div class="navigation_letter">B</div>
      <div class="navigation_letter">C</div>
      <div class="navigation_letter">D</div>
      <div class="navigation_letter">E</div>
      <div class="navigation_letter">F</div>
      <div class="navigation_letter">G</div>
      <div class="navigation_letter">H</div>
      <div class="navigation_letter">I</div>
      <div class="navigation_letter">G</div>
      <div class="navigation_letter">K</div>
      <div class="navigation_letter">L</div>
      <div class="navigation_letter">M</div>
      <div class="navigation_letter">N</div>
      <div class="navigation_letter">O</div>
      <div class="navigation_letter">P</div>
      <div class="navigation_letter">Q</div>
      <div class="navigation_letter">R</div>
      <div class="navigation_letter">S</div>
      <div class="navigation_letter">T</div>
      <div class="navigation_letter">U</div>
      <div class="navigation_letter">V</div>
      <div class="navigation_letter">W</div>
      <div class="navigation_letter">X</div>
      <div class="navigation_letter">Y</div>
      <div class="navigation_letter">Z</div>
    </div>
  </div> -->

  <div class="list_container">
    <div ng-repeat="quote in quotes | filter:query | orderBy:orderProp">
      <div class="list_customers" ng-click="showInfo(quote, $index)" ng-class="{list_selected: $index == selected}">
        <div class="list_customers_name">{{quote.first}} {{quote.last}}</div>
        <div class="list_customers_company">{{quote.company_name + '    ' + quote.department_name}}</div>
      </div>
    </div>
  </div>

  <div class="detail_container" hidden id="quoteInformation">
    <div class="detail_name">
      {{customer.first + " " + customer.last}}
    </div>
    <div class="detail_company_name">
      {{customer.company_name + " " + customer.department_name}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Email: </span>
      {{customer.email}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Tel: </span>
      {{customer.work_phone}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Mobile: </span>
      {{customer.mobile_phone}}
    </div>
    <div class="details">
      <span style="color: rgb(130,130,130);">Shipment Address: <br/></span>
      {{
      customer.shipment_address + ", " +
      customer.shipment_city + ", " +
      customer.shipment_state + ", " +
      customer.shipment_zip + ", " +
      customer.shipment_country
      }}
    </div>
    <div class="details">
      <span style="color: rgb(150,150,150);">Mail Address: <br/></span>
      {{
      customer.mail_address + ", " +
      customer.mail_city + ", " +
      customer.mail_state + ", " +
      customer.mail_zip + ", " +
      customer.mail_country
      }}
    </div>
    <div class="edit_customer" id="editCustomer">Edit this customer</div>
  </div>


  <div class="detail_container_2" hidden id="editForm">
    <div class="detail_page_title">Edit Customer Info</div>
    <form class="infoForm">
      <div class="item_name_container">
        <div>First</div>
        <div>Last</div>
        <div>Company</div>
        <div>Department</div>
        <div>Email</div>
        <div>Tel</div>
        <div>Mobile</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_shipment_addr" ng-click="expand_shipment_addr=!expand_shipment_addr">
          {{expand_shipment_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Street</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">City</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">State</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">country</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Zip</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_mail_addr" ng-click="expand_mail_addr=!expand_mail_addr">
          {{expand_mail_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_mail_addr">Street</div>
        <div class="item_name_container" ng-show="expand_mail_addr">City</div>
        <div class="item_name_container" ng-show="expand_mail_addr">State</div>
        <div class="item_name_container" ng-show="expand_mail_addr">country</div>
        <div class="item_name_container" ng-show="expand_mail_addr">Zip</div>
      </div>
      <div class="item_input_container">
        <input class="item_input" type="text" name="first" value="{{customer.first}}"></input>
        <input class="item_input" type="text" name="last" value="{{customer.last}}"></input>
        <input class="item_input" type="text" name="company_name" value="{{customer.company_name}}"></input>
        <input class="item_input" type="text" name="department_name" value="{{customer.department_name}}"></input>
        <input class="item_input" type="text" name="email" value="{{customer.email}}"></input>
        <input class="item_input" type="text" name="work_phone" value="{{customer.work_phone}}"></input>
        <input class="item_input" type="text" name="mobile_phone" value="{{customer.mobile_phone}}"></input>
        <div class="item_collapsible_name">Shipment Address</div>
        <input class="item_input" type="text" name="shipment_address" value="{{customer.shipment_address}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_city" value="{{customer.shipment_city}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_state" value="{{customer.shipment_state}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_country" value="{{customer.shipment_country}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_zip" value="{{customer.shipment_zip}}"
          ng-show="expand_shipment_addr"></input>
        <div class="item_collapsible_name">Mail Address</div>
        <input class="item_input" type="text" name="mail_address" value="{{customer.mail_address}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_city" value="{{customer.mail_city}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_state" value="{{customer.mail_state}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_country" value="{{customer.mail_country}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_zip" value="{{customer.mail_zip}}"
          ng-show="expand_mail_addr"></input>
        <div class="item_delete" type="button">Delete</div>
        <div class="item_save" type="button">Save</div>
      </div>
    </form>
  </div>

  <div class="detail_container_2" hidden id="informationForm">
    <div class="detail_page_title">Add New Customer</div>
    <form class="infoForm">
      <div class="item_name_container">
        <div>First</div>
        <div>Last</div>
        <div>Company</div>
        <div>Department</div>
        <div>Email</div>
        <div>Tel</div>
        <div>Mobile</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_shipment_addr" ng-click="expand_shipment_addr=!expand_shipment_addr">
          {{expand_shipment_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Street</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">City</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">State</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">country</div>
        <div class="item_name_container" ng-show="expand_shipment_addr">Zip</div>
        <div class="item_collapsible_symbol"
          ng-model="expand_mail_addr" ng-click="expand_mail_addr=!expand_mail_addr">
          {{expand_mail_addr === true ? "-" : "+"}}
        </div>
        <div class="item_name_container" ng-show="expand_mail_addr">Street</div>
        <div class="item_name_container" ng-show="expand_mail_addr">City</div>
        <div class="item_name_container" ng-show="expand_mail_addr">State</div>
        <div class="item_name_container" ng-show="expand_mail_addr">country</div>
        <div class="item_name_container" ng-show="expand_mail_addr">Zip</div>
      </div>
      <div class="item_input_container">
        <input class="item_input" type="text" name="first" value="{{customer.first}}"></input>
        <input class="item_input" type="text" name="last" value="{{customer.last}}"></input>
        <input class="item_input" type="text" name="company_name" value="{{customer.company_name}}"
          placeholder="Individual / Example Inc. ...">
        </input>
        <input class="item_input" type="text" name="department_name" value="{{customer.department_name}}"
          placeholder="Purchase / Manufacturing / Sales ...">
        </input>
        <input class="item_input" type="text" name="email" value="{{customer.email}}"></input>
        <input class="item_input" type="text" name="work_phone" value="{{customer.work_phone}}"
          placeholder="XXX-XXX-XXXX">
        </input>
        <input class="item_input" type="text" name="mobile_phone" value="{{customer.mobile_phone}}"
          placeholder="XXX-XXX-XXXX">
        </input>
        <div class="item_collapsible_name">Shipment Address</div>
        <input class="item_input" type="text" name="shipment_address" value="{{customer.shipment_address}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_city" value="{{customer.shipment_city}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_state" value="{{customer.shipment_state}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_country" value="{{customer.shipment_country}}"
          ng-show="expand_shipment_addr"></input>
        <input class="item_input" type="text" name="shipment_zip" value="{{customer.shipment_zip}}"
          ng-show="expand_shipment_addr"></input>
        <div class="item_collapsible_name">Mail Address</div>
        <input class="item_input" type="text" name="mail_address" value="{{customer.mail_address}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_city" value="{{customer.mail_city}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_state" value="{{customer.mail_state}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_country" value="{{customer.mail_country}}"
          ng-show="expand_mail_addr"></input>
        <input class="item_input" type="text" name="mail_zip" value="{{customer.mail_zip}}"
          ng-show="expand_mail_addr"></input>
        <div class="new_customer_save" type="button">Save as a New Customer</div>
      </div>
    </form>
  </div>
  <div class="hyperlink_container">
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image"></div>
      <div class="APP_hyperlink_app_name">Customers</div>
    </div>
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image"></div>
      <div class="APP_hyperlink_app_name">Sales</div>
    </div>
    <div class="APP_hyperlink_onelink">
      <div class="APP_hyperlink_app_edge"></div>
      <div class="APP_hyperlink_app_image">+</div>
      <div class="APP_hyperlink_app_name">New Link</div>
    </div>
    <div class="APP_hyperlink">Direct Link</div>
  </div>

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="jquery-1.11.2.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/customer.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
</div>
</body>
</html>
